nav {
    background:blue;
    color:yellow;
}

h3  {
    color:navy; 
    font-weight:bold;
}

nav div {
    display:inline-block;
}
nav div h1 { color:white}
#signinButton {
  padding-top: 10px;
}
