{%extends "base.html"%}

{%block contents%}
      <!-- Displaying flash messages -->
      <div class="container">
         <div class="row">
            <div class="col-md-4">
               <h4>Categories</h4>
                <ul>
                    {% for category in categories %}
                    <li>
                        <a class="{{"active" if selected_category.name==category.name}}" href="{{ url_for('getCategoryItems',category_name=category.name) }}">{{ category.name }} </a>
                    </li>
                        {% endfor %}
                </ul>
            </div>
            <div class="col-md-8">
               <h4>{{selected_category.name}} </h4>
                <ul>
                    <li><a href="{{ url_for('newItem') }}"> Add Item </a></li>
                    {% for item in items %}
                    
                    <li>
                       <a  href="{{ url_for('getItemDetails',item_title=item.title)}}" >
                                    {{item.title}}
                                </a>
                                                
                    </li>
                    {% endfor %}
                </ul>
               </div>
            </div>
            <div class = 'flash'>
               {% with messages = get_flashed_messages() %}
               {% if messages %}
               <div class="alert alert-warning" role="alert">
                  {% for message in messages %}
                  <li> <strong> {{ message }} </strong> </li>
                  {% endfor %}
               </div>
               {% endif %}
               {% endwith %}
            </div>
         </div>
{%endblock%}
